<GridLayout>
    <ActionBar [title]="title" class="action-bar">
        <ActionItem
            text="Back"
            ios.systemIcon="11"
            ios.position="left"
            android.systemIcon="ic_menu_share"
            android.position="actionBar"
            (tap)="toggleDrawer()"
        ></ActionItem>
    </ActionBar>

    <GridLayout class="sideStackLayout">
        <Drawer #drawer class="drawer">
            <GridLayout leftDrawer #drawercontent width="300" class="drawer-light" rows="auto, *">
                <StackLayout row="0">
                    <StackLayout padding="25">
                        <GridLayout columns="80, *" height="100">
                            <StackLayout col="0" class="avatar">
                                <Label text="JS"></Label>
                            </StackLayout>
                        </GridLayout>
                        <StackLayout>
                            <Label text="John Smith" fontWeight="bold"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout>
                        <Button text="Dashboard" class="button" (tap)="onTapDashboard()"></Button>
                        <Button text="My Profile" class="button" (tap)="onTapProfile()"></Button>
                        <Button text="Logout" class="-ruby -outline" (tap)="onTapLogout()"></Button>
                    </StackLayout>
                </StackLayout>
            </GridLayout>

            <StackLayout mainContent>
                <router-outlet></router-outlet>
            </StackLayout>
        </Drawer>
    </GridLayout>
</GridLayout>
