@import "~@nativescript/theme/default";

.avatar {
    background-color: #ed3e04;
    border-radius: 40;
    height: 80;
    vertical-align: middle;
}

.avatar Label {
    vertical-align: middle;
    horizontal-align: center;
    font-size: 30;
}

.drawer-light {
    background-color: $background;
}

.drawer-dark {
    background-color: $background-dark;
}

.drawer .button {
    // background-color: transparent;
    margin: 0;
    padding: 0;
    border-color: #ccc;
    z-index: 0;
    border-width: 0 0 0.5 0;
    // color: #222222;
    text-align: left;
    padding-left: 25;
    height: 50;
    font-size: 14;
}
