<!-- Menu -->
<div #menu class="bg-gray-900 py-3 px-6 flex align-items-center justify-content-between relative">
    <a
        class="cursor-pointer block lg:hidden text-gray-400"
        pStyleClass="@next"
        enterClass="hidden"
        leaveToClass="hidden"
        [hideOnOutsideClick]="true"
    >
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div
        class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full bg-gray-900 left-0 top-100 px-6 lg:px-0 shadow-2 lg:shadow-none z-2"
    >
        <ul class="list-none p-0 m-0 flex lg:align-items-center text-gray-400 select-none flex-column lg:flex-row cursor-pointer">
            <li>
                <a
                    (click)="scrollTo(landing)"
                    pRipple
                    class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150"
                >
                    <img src="assets/images/logos/myapp.svg" alt="MyApp" class="mb-3" height="75" />
                </a>
            </li>
            <li>
                <a
                    (click)="scrollTo(features)"
                    pRipple
                    class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150"
                >
                    <span>Features</span>
                </a>
            </li>
            <li>
                <a
                    (click)="scrollTo(about)"
                    pRipple
                    class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150"
                >
                    <span>About</span>
                </a>
            </li>
            <li>
                <a
                    (click)="scrollTo(statistics)"
                    pRipple
                    class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150"
                >
                    <span>Statistics</span>
                </a>
            </li>
        </ul>
        <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none border-gray-800 py-3 lg:py-0 mt-3 lg:mt-0">
            <button pButton pRipple label="Login" class="p-button-text font-bold" (click)="sessionService.login()"></button>
            <button pButton pRipple label="Register" class="ml-3 font-bold" (click)="router.navigateByUrl('/register')"></button>
        </div>
    </div>
</div>

<!-- Landing -->
<div #landing class="bg-gray-900 full-height px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-wrap">
        <div class="w-12 lg:w-6 p-4">
            <h1 class="text-6xl font-bold text-white mt-0 mb-3">
                <span class="text-indigo-500 underline">MyApp</span> Time Delay Keyholding Service
            </h1>
            <p class="text-3xl text-gray-400 mt-0 mb-6"> Free time delay key keyholding with or without a keyholder </p>
            <ul class="list-none p-0 m-0">
                <li class="mb-3 flex align-items-center"
                    ><i class="pi pi-compass text-yellow-500 text-xl mr-2"></i
                    ><span class="text-gray-400 line-height-3">Track your session online</span></li
                >
                <li class="mb-3 flex align-items-center"
                    ><i class="pi pi-map text-yellow-500 text-xl mr-2"></i
                    ><span class="text-gray-400 line-height-3">Share your session for more interaction</span></li
                >
                <li class="mb-3 flex align-items-center"
                    ><i class="pi pi-calendar text-yellow-500 text-xl mr-2"></i
                    ><span class="text-gray-400 line-height-3">Play interactive games alone or with users</span></li
                >
            </ul>
            <button
                pButton
                pRipple
                label="Claim Your Account now"
                class="mt-5 font-medium p-button-lg p-button-rounded bg-indigo-600"
                (click)="router.navigateByUrl('/register')"
            ></button>
        </div>
        <div class="w-12 lg:w-6 text-center overflow-hidden">
            <img [src]="'https://via.placeholder.com/500x500.png?text=Bild+nicht+verfügbar'" />
        </div>
    </div>
</div>

<!-- Features -->
<div #features class="bg-gray-800 px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-0 text-center mb-6">Explore The Features</div>

    <div class="flex lg:justify-content-center mb-5">
        <div class="py-3 pr-8 pl-3 w-30rem text-center hidden lg:block">
            <img [src]="'https://via.placeholder.com/250x250.png?text=Bild+nicht+verfügbar'" />
        </div>
        <div class="flex flex-column align-items-center w-2rem">
            <span
                class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle"
                style="min-width: 2.5rem; min-height: 2.5rem"
            >
            </span>
            <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem"></div>
        </div>
        <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
            <div class="text-900 text-xl mb-2 font-medium">Ornare Arcu Odio</div>
            <span class="block text-700 line-height-3 mb-3"
                >Quisque sagittis purus sit amet volutpat consequat mauris nunc. Scelerisque eleifend.</span
            >
            <div class="pt-3 border-top-1 border-300">
                <div class="mb-2 line-height-3"
                    ><span class="text-900 font-medium">Sed lectus vestibulum</span> mattis ullamcorper velit. Laoreet sit amet cursus
                    sit.</div
                >
                <div class="line-height-3"
                    ><span class="text-900 font-medium">Fames ac turpis</span> egestas sed tempus urna et. Cursus turpis massa.</div
                >
            </div>
        </div>
    </div>

    <div class="flex justify-content-center mb-5">
        <div class="py-3 pl-5 pr-3 lg:pr-8 lg:pl-3 lg:w-30rem flex-order-1 lg:flex-order-0">
            <div class="text-900 text-xl mb-2 font-medium">A diam maecenas</div>
            <span class="block text-700 line-height-3 mb-3"
                >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit.</span
            >
            <div class="pt-3 border-top-1 border-300">
                <div class="mb-2 line-height-3"
                    ><span class="text-900 font-medium">Quis hendrerit dolor</span> magna eget est. Pellentesque pulvinar pellentesque.</div
                >
                <div class="line-height-3"
                    ><span class="text-900 font-medium">Lectus urna duis</span> convallis convallis tellus id interdum velit laoreet.</div
                >
            </div>
        </div>
        <div class="flex flex-column align-items-center w-2rem flex-order-0 lg:flex-order-1">
            <span
                class="bg-yellow-500 text-0 flex align-items-center justify-content-center border-circle"
                style="min-width: 2.5rem; min-height: 2.5rem"
            ></span>
            <div class="h-full bg-yellow-500" style="width: 2px; min-height: 4rem"></div>
        </div>
        <div class="py-3 pl-8 pr-3 w-30rem hidden text-center lg:block flex-order-2">
            <img [src]="'https://via.placeholder.com/250x250.png?text=Bild+nicht+verfügbar'"
        /></div>
    </div>

    <div class="flex lg:justify-content-center mb-5">
        <div class="py-3 pr-8 pl-3 w-30rem text-center hidden lg:block">
            <img [src]="'https://via.placeholder.com/250x250.png?text=Bild+nicht+verfügbar'" />
        </div>
        <div class="flex flex-column align-items-center w-2rem">
            <span
                class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle"
                style="min-width: 2.5rem; min-height: 2.5rem"
            >
            </span>
            <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem"></div>
        </div>
        <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
            <div class="text-900 text-xl mb-2 font-medium">Ornare Arcu Odio</div>
            <span class="block text-700 line-height-3 mb-3"
                >Quisque sagittis purus sit amet volutpat consequat mauris nunc. Scelerisque eleifend.</span
            >
            <div class="pt-3 border-top-1 border-300">
                <div class="mb-2 line-height-3"
                    ><span class="text-900 font-medium">Sed lectus vestibulum</span> mattis ullamcorper velit. Laoreet sit amet cursus
                    sit.</div
                >
                <div class="line-height-3"
                    ><span class="text-900 font-medium">Fames ac turpis</span> egestas sed tempus urna et. Cursus turpis massa.</div
                >
            </div>
        </div>
    </div>
</div>

<!-- About -->
<div #about class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-0 text-center mb-6">Was ist MyApp.com</div>
    <div class="flex align-items-start lg:align-items-center lg:justify-content-between pb-5 flex-column lg:flex-row">
        <div class="pr-0 lg:pr-8">
            <p class="text-600 line-height-3 text-xl mb-0 mt-5">
                Du benötigst einen Schlüssel-Safe mit einem Zahlenschloss (für ca. 30 Euro im Baumarkt). Je mehr Nummern das Schloss hat,
                desto sicherer ist es. Wenn du bereit bist eine Sitzung zu starten, stellst du die Zahlenkombination zufällig ein, schießt
                ein Foto ohne hin zuschauen und lädst das Foto hoch. Nachdem deine Sitzung abgelaufen ist, erhältst du das Foto zurück und
                kannst dich wieder befreien.
            </p>
        </div>
        <button
            pButton
            pRipple
            label="Register now"
            class="mt-5 lg:mt-0 white-space-nowrap min-w-max"
            (click)="router.navigateByUrl('/register')"
        ></button>
    </div>
</div>

<!-- Statistics -->
<div #statistics class="bg-gray-800 px-4 py-8 md:px-6 lg:px-8 overflow-hidden">
    <div class="font-bold text-5xl text-0 text-center mb-6">Take your vision to the next level</div>
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="bg-blue-50 text-center p-5 border-round flex flex-column">
                <i class="text-blue-500 pi pi-play text-4xl block mb-4"></i>
                <span class="text-900 text-5xl">52000</span>
                <div class="text-blue-700 mt-3 font-medium">Streams</div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="bg-purple-50 text-center p-5 border-round flex flex-column">
                <i class="text-purple-500 pi pi-users text-4xl block mb-4"></i>
                <span class="text-900 text-5xl">21000</span>
                <div class="text-purple-700 mt-3 font-medium">Engagement</div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="bg-teal-50 text-center p-5 border-round flex flex-column">
                <i class="text-teal-500 pi pi-camera text-4xl block mb-4"></i>
                <span class="text-900 text-5xl">71.2h</span>
                <div class="text-teal-700 mt-3 font-medium">Watch Time</div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="bg-indigo-50 text-center p-5 border-round flex flex-column">
                <i class="text-indigo-500 pi pi-thumbs-up text-4xl block mb-4"></i>
                <span class="text-900 text-5xl">4500</span>
                <div class="text-indigo-700 mt-3 font-medium">Likes</div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
    <div class="py-5">
        <div class="grid">
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Company</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">About Us</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">News</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Investor Relations</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Careers</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Media Kit</a></li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Resources</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Get Started</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Learn</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Case Studies</a></li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Developer</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Courses</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Documentation</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">API Reference</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Status</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Papers</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Development Blog</a></li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Community</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Discord</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Events</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">FAQ</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Blog</a></li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Connect</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Newsletters</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Press</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Code of Conduct</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Security Guide</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Bug Bounty</a></li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Legal</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Brand Policy</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Privacty Policy</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex justify-content-between align-items-center py-5">
        <span>&copy; MyApp</span>
        <div class="flex align-items-center justify-content-between">
            <a class="cursor-pointer text-500 md:ml-3 ml-2">
                <i class="pi pi-twitter text-xl"></i>
            </a>
            <a class="cursor-pointer text-500 md:ml-3 ml-2">
                <i class="pi pi-facebook text-xl"></i>
            </a>
            <a class="cursor-pointer text-500 md:ml-3 ml-2">
                <i class="pi pi-github text-xl"></i>
            </a>
        </div>
    </div>
</div>
