<div class="flex flex-column md:flex-row w-full justify-content-between md:align-items-center">
    <div>
        <h2 class="mt-0 mb-2 text-900 font-medium text-2xl">{{ 'settings.settings' | translate }}</h2>
        <p class="mt-0 mb-0 text-500">{{ 'settings.settingsSubtitle' | translate }}</p>
    </div>
</div>
<p-divider styleClass="my-5"></p-divider>
<div class="p-fluid flex flex-column lg:flex-row">
    <ul class="list-none m-0 p-0 flex flex-row lg:flex-column justify-content-between lg:justify-content-start mb-5 lg:mb-0">
        <li *ngFor="let link of links">
            <a
                pRipple
                class="lg:w-15rem flex align-items-center cursor-pointer p-3 border-round hover:surface-200 transition-duration-150 transition-colors"
                [ngClass]="{ 'surface-200': link.active }"
                (click)="navigate(link.target)"
            >
                <i class="pi pi-user md:mr-2" [ngClass]="{ 'text-700': link.active, 'text-600': !link.active }"></i>
                <span class="font-medium hidden md:block" [ngClass]="{ 'text-800': link.active, 'text-700': !link.active }">
                    {{ link.label }}
                </span>
            </a>
        </li>
    </ul>
    <div class="flex-auto xl:ml-5">
        <router-outlet></router-outlet>
    </div>
</div>
