<div
    class="gradient-box full-height align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted"
>
    <div class="surface-card p-4 shadow-6 border-round w-full lg:w-4">
        <div class="text-center mb-5">
            <img src="assets/images/logos/myapp.svg" alt="MyApp" class="mb-3" height="75" />
            <div class="text-900 text-3xl font-medium mb-3">MyApp</div>
            <div>Register</div>
        </div>

        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label mb-5 labelschnickschnack">
                <input
                    id="username"
                    name="username"
                    type="text"
                    placeholder=""
                    class="p-inputtext p-component p-element w-full"
                    tabindex="1"
                    autofocus
                    autocomplete="off"
                />
                <label for="username"> Username </label>
            </span>
        </div>

        <span class="p-float-label mb-5">
            <input
                id="password"
                name="password"
                type="password"
                placeholder=""
                class="p-inputtext p-component p-element w-full"
                tabindex="2"
                autocomplete="off"
            />
            <label for="password">Password</label>
        </span>

        <span class="p-float-label mb-5">
            <input
                id="passwordConfirm"
                name="passwordConfirm"
                type="passwordConfirm"
                placeholder=""
                class="p-inputtext p-component p-element w-full"
                tabindex="2"
                autocomplete="off"
            />
            <label for="passwordConfirm">Confirm password</label>
        </span>

        <button type="submit" class="p-element p-ripple w-full p-button p-component" tabindex="4" (click)="register()">
            <span class="p-button-label">Register</span>
        </button>

        <p class="text-center">
            Have an account?
            <span class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer" (click)="sessionService.login()">
                Log in
            </span>
        </p>
    </div>
</div>
