.p-float-label > input:not(:placeholder-shown) + label, .p-float-label > textarea:not(:placeholder-shown) + label {
    top: -0.5rem !important;
    background-color: var(--surface-ground);
    padding: 2px 4px;
    margin-left: -4px;
    margin-top: 0;
    font-size: 12px;
}
