<ng-container *ngIf="value !== undefined; else loader">
    <form [formGroup]="myForm">
        <span [ngClass]="floatLabel ? 'p-float-label top-0' : ''">
            <p-calendar
                styleClass="w-full"
                formControlName="myDatepicker"
                (onSelect)="onDatepickerBlur()"
                (onClearClick)="onDatepickerClear()"
                [showButtonBar]="true"
                [firstDayOfWeek]="1"
                dateFormat="dd.mm.yy"
                [showIcon]="true"
            ></p-calendar>
            <label *ngIf="floatLabel">{{ floatLabel }}</label>
        </span>
    </form>
</ng-container>
<ng-template #loader>
    <p-skeleton styleClass="h-3rem"></p-skeleton>
</ng-template>
