<ng-container *ngIf="value !== undefined; else loader">
    <form [formGroup]="myForm">
        <span [ngClass]="floatLabel ? 'p-float-label top-0' : ''">
            <textarea
                id="bio"
                type="text"
                class="w-full"
                [rows]="rows"
                pInputTextarea
                formControlName="myTextarea"
                (blur)="onTextAreaBlur()"
            ></textarea>
            <label *ngIf="floatLabel">{{ floatLabel }}</label>
        </span>
    </form>
</ng-container>
<ng-template #loader>
    <p-skeleton styleClass="h-10rem"></p-skeleton>
</ng-template>
