<ng-container *ngIf="model !== undefined; else loader">
    <p-editor [(ngModel)]="model" [style]="{ height: '10rem' }" (onTextChange)="onWYSIWYGBlur($event)"></p-editor>
</ng-container>
<ng-template #loader>
    <p-skeleton styleClass="h-10rem"></p-skeleton>
</ng-template>
