<div class="surface-section p-5">
    <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
        <div class="flex align-items-start flex-column md:flex-row">
            <avatar [size]="90" [userData]="userService.userData$" class="mr-5 mb-3 lg:mb-0"></avatar>

            <div>
                <headline [userData]="userService.userData$">
                    {{ 'dashboard.hello' | translate : { username: userService.userData$.value?.username } }}
                </headline>

                <div class="flex align-items-center flex-wrap text-sm">
                    <div class="mr-5 mt-3">
                        <span class="font-medium text-500">FOLLOWERS</span>
                        <div class="text-700 mt-2">333</div>
                    </div>
                    <div class="mr-5 mt-3">
                        <span class="font-medium text-500">PROJECTS</span>
                        <div class="text-700 mt-2">26</div>
                    </div>
                    <div class="mr-5 mt-3">
                        <span class="font-medium text-500">COLLECTIONS</span>
                        <div class="text-700 mt-2">17</div>
                    </div>
                    <div class="mt-3">
                        <span class="font-medium text-500">SHOTS</span>
                        <div class="text-700 mt-2">130</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 lg:mt-0">
            <button pButton pRipple icon="pi pi-bookmark" class="p-button-rounded mr-2"></button>
            <button pButton pRipple icon="pi pi-heart" class="p-button-rounded p-button-success mr-2"></button>
            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-help"></button>
        </div>
    </div>
</div>
<div class="p-5">
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Orders</span>
                        <div class="text-900 font-medium text-xl">152</div>
                    </div>
                    <div
                        class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                    >
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Revenue</span>
                        <div class="text-900 font-medium text-xl">$2.100</div>
                    </div>
                    <div
                        class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                    >
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">since last week</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div
                        class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                    >
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">520 </span>
                <span class="text-500">newly registered</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Comments</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div
                        class="flex align-items-center justify-content-center bg-purple-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                    >
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div>
        <div class="col-12">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="text-xl text-900 font-medium mb-5">Timeline</div>
                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width: 2rem">
                        <span class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2">
                            <i class="pi pi-compass text-xl"></i>
                        </span>
                        <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                        <div class="mb-3">
                            <span class="text-900 font-medium inline-block mr-3">Jacob Jones</span>
                            <span class="text-500 text-sm">1 minute ago</span>
                        </div>
                        <div class="line-height-3 text-700 mb-3">
                            Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Sollicitudin nibh sit amet commodo nulla. Mauris in
                            aliquam sem fringilla ut morbi.
                        </div>
                        <div class="text-500 flex align-items-center gap-4">
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-heart"></i>
                                <span>0</span>
                            </div>
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-comment"></i>
                                <span>1</span>
                            </div>
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-eye"></i>
                                <span>24</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width: 2rem">
                        <span class="bg-orange-500 text-0 flex align-items-center justify-content-center border-circle p-2">
                            <i class="pi pi-list text-xl"></i>
                        </span>
                        <div class="h-full bg-orange-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                        <div class="mb-3">
                            <span class="text-900 font-medium inline-block mr-3">Theresa Webb</span>
                            <span class="text-500 text-sm">2 hours ago</span>
                        </div>
                        <div class="line-height-3 text-700 mb-3">
                            Purus sit amet volutpat consequat mauris. Pretium lectus quam id leo in vitae. Posuere sollicitudin aliquam
                            ultrices sagittis orci a scelerisque purus semper.
                        </div>
                        <div class="text-500 flex align-items-center gap-4">
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-heart"></i>
                                <span>26</span>
                            </div>
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-comment"></i>
                                <span>6</span>
                            </div>
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-eye"></i>
                                <span>673</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width: 2rem">
                        <span class="bg-purple-500 text-0 flex align-items-center justify-content-center border-circle p-2">
                            <i class="pi pi-inbox text-xl"></i>
                        </span>
                        <div class="h-full bg-purple-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                        <div class="mb-3">
                            <span class="text-900 font-medium inline-block mr-3">Walter Black</span>
                            <span class="text-500 text-sm">4 hours ago</span>
                        </div>
                        <div class="line-height-3 text-700 mb-3">
                            Euismod in pellentesque massa placerat duis ultricies lacus. Vitae sapien pellentesque habitant morbi tristique
                            senectus et netus et.
                        </div>
                        <div class="text-500 flex align-items-center gap-4">
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-heart"></i>
                                <span>62</span>
                            </div>
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-comment"></i>
                                <span>36</span>
                            </div>
                            <div class="flex align-items-center gap-1">
                                <i class="pi pi-eye"></i>
                                <span>21</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
