<ng-container *ngIf="value !== undefined; else loader">
    <form [formGroup]="myForm">
        <span [ngClass]="floatLabel ? 'p-float-label top-0' : ''">
            <input type="text" class="w-full" pInputText formControlName="myInput" (blur)="onTextAreaBlur()" />
            <label *ngIf="floatLabel">{{ floatLabel }}</label>
        </span>
    </form>
</ng-container>
<ng-template #loader>
    <p-skeleton styleClass="h-2rem"></p-skeleton>
</ng-template>
