<ng-container *ngIf="options !== undefined && (value !== undefined || !waitForValue); else loader">
    <span [ngClass]="floatLabel ? 'p-float-label top-0' : ''">
        <p-dropdown styleClass="w-full" [options]="options" [ngModel]="value" (onChange)="onDropdownChange($event)" [disabled]="disabled">
            <ng-template let-option pTemplate="item">
                <div [style.color]="option.color" [style.background]="option.bgcolor">
                    {{ option.label }}
                </div>
            </ng-template>
        </p-dropdown>
        <label *ngIf="floatLabel">{{ floatLabel }}</label>
    </span>
</ng-container>
<ng-template #loader>
    <p-skeleton styleClass="h-3rem"></p-skeleton>
</ng-template>
