<div
    class="border-dashed px-3 py-2"
    [ngClass]="!dragging ? 'bg-primary-reverse' : 'bg-primary'"
    (dragenter)="dragenter($event)"
    (dragover)="dragenter($event)"
    (dragstart)="dragenter($event)"
    (dragend)="dragleave($event)"
    (dragleave)="dragleave($event)"
    (drop)="drop($event)"
>
    <!-- Select file -->
    <input type="file" class="file-input" style="display: none" (change)="addFile($event)" #fileUpload />
    <div class="text-sm text-center" *ngIf="fileSelect">
        <label
            for="file-upload"
            class="relative cursor-pointer font-medium text-color-secondary hover:text-white"
            (click)="fileUpload.click()"
        >
            <span>{{ uploadAreaButton }}</span>
            <input id="file" name="file" type="file" class="sr-only" />
        </label>
        <br />
        {{ uploadAreaButtonSubtext }}
    </div>

    <!-- Uploading -->
    <div class="text-sm text-center" *ngIf="uploading">
        UPLOADING ... {{ progress }}<br />
        <p-progressBar [value]="progress" [style]="{ height: '1em' }"></p-progressBar>
    </div>

    <!-- Success / Error -->
    <div class="text-sm text-center" *ngIf="uploaded">
        <span class="text-red-600" *ngIf="error">{{ error }}</span>
        <span *ngIf="!error">File uploaded</span>
        <br />
        <span class="relative cursor-pointer font-medium text-color-secondary hover:text-white" (click)="reset()">
            Upload something other
        </span>
    </div>
</div>
