<div
    id="app-sidebar"
    class="surface-section w-15rem h-full hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none"
>
    <div class="flex flex-column h-full">
        <div class="flex align-items-center px-5 flex-shrink-0 text-center" style="height: 60px" (click)="logoClick()">
            <img src="assets/images/logos/myapp.svg" alt="Image" height="30" /> <span class="text-indigo-700 font-bold">MyApp</span>
        </div>
        <div class="overflow-y-auto">
            <ul class="list-none p-0 m-0 overflow-hidden">
                <li *ngFor="let menuItem of menu">
                    <a
                        pRipple
                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"
                    >
                        <i [ngClass]="menuItem.icon" class="mr-2"></i>
                        <span class="font-medium">{{ menuItem.label }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
