<div class="grid formgrid p-fluid">
    <div class="field mb-4 col-12 md:col-6">
        <label for="bio" class="font-medium">Bio</label>
        <skeleton-textarea
            [model]="userService.userData$.value ? userService.userData$.value.description : undefined"
            (valueChange)="submitData($event, 'description')"
        ></skeleton-textarea>
    </div>
    <div class="field mb-4 col-12 md:col-6">
        <label for="avatar" class="font-medium">Avatar</label>
        <div class="text-center mb-2">
            <avatar [size]="120" [userData]="userService.userData$"></avatar>
        </div>
        <upload-area [uploadType]="uploadType.profile" (onSuccess)="userService.reloadUser()"></upload-area>
    </div>
    <div class="field mb-4 col-12 md:col-6">
        <label for="birtday" class="font-medium">Day of Birth</label>
        <skeleton-date
            [model]="userService.userData$.value ? userService.userData$.value.birthdate : undefined"
            (valueChange)="submitData($event, 'birthdate')"
        ></skeleton-date>
    </div>
    <div class="field mb-4 col-12 md:col-6">
        <label for="gender" class="font-medium">Gender</label>
        <skeleton-select-button
            [model]="userService.userData$.value ? userService.userData$.value.gender : undefined"
            (valueChange)="submitData($event, 'gender')"
            [options]="genderEnum | enumOptions : genderEnum"
        ></skeleton-select-button>
        <skeleton-select-button
            [model]="userService.userData$.value ? userService.userData$.value.gender_type : undefined"
            (valueChange)="submitData($event, 'gender_type')"
            [options]="genderTypeEnum | enumOptions : genderTypeEnum"
        ></skeleton-select-button>
    </div>
    <div class="field mb-4 col-12 md:col-6">
        <label for="theme" class="font-medium">Theme</label>
        <skeleton-dropdown
            [model]="userService.userData$.value ? userService.userData$.value.theme : undefined"
            (valueChange)="submitData($event, 'theme')"
            [options]="themeEnum | enumOptions : themeEnum"
        ></skeleton-dropdown>
    </div>
    <div class="field mb-4 col-12 md:col-6">
        <label for="language" class="font-medium">Language</label>
        <skeleton-dropdown
            [model]="userService.userData$.value ? userService.userData$.value.language : undefined"
            (valueChange)="submitData($event, 'language')"
            [options]="languageLabelEnum | enumOptions : languageLabelEnum"
        ></skeleton-dropdown>
    </div>
    <div class="field mb-4 col-12 md:col-6">
        <label for="project_role" class="font-medium">Project role</label>
        <skeleton-dropdown
            [model]="userService.userData$.value ? userService.userData$.value.project_role : undefined"
            (valueChange)="submitData($event, 'project_role')"
            [options]="projectRoleEnum | enumOptions : projectRoleEnum"
        ></skeleton-dropdown>
    </div>
    <!-- <div class="field mb-4 col-12 md:col-6">
        <label for="datetimeformat" class="font-medium">Date & Time Format</label>
        <skeleton-dropdown
            [model]="userService.userData$.value ? userService.userData$.value.datetimeformat : undefined"
            (valueChange)="submitData($event, 'datetimeformat')"
            [options]="dateTimeFormatEnum | enumOptions : dateTimeFormatEnum"
            [editable]="true"
        ></skeleton-dropdown>
    </div> -->
</div>
