<ng-container *ngIf="value !== undefined; else loader">
    <form [formGroup]="myForm">
        <span [ngClass]="floatLabel ? 'p-float-label top-0' : ''">
            <p-inputNumber
                styleClass="w-full"
                inputId="integeronly"
                [step]="steps"
                formControlName="myInput"
                (onBlur)="onTextAreaBlur()"
                [showButtons]="true"
            ></p-inputNumber>
            <label *ngIf="floatLabel">{{ floatLabel }}</label>
        </span>
    </form>
</ng-container>
<ng-template #loader>
    <p-skeleton styleClass="h-2rem"></p-skeleton>
</ng-template>
