<StackView>
    <Image src="~/assets/images/nx-nativescript.png" class="h-center m-t-20" width="300"></Image>
    <StackLayout class="m-20"></StackLayout>
    <label class="h-center">Here comes a Dashboard 🎉</label>
    <label class="randombutton">test 123</label>
    <StackLayout class="hr m-10"></StackLayout>
    <Button text="Logout" class="-ruby -outline" (tap)="onTapLogout()"></Button>
</StackView>
