/* You can add global styles to this file, and also import other style files */
// @import "../../assets/css/app/layout.scss";
// @import "../../assets/css/demo/flags.css";

pre {
    white-space: pre-wrap;
    max-height: 15em;
    min-width: 100%;
}

body, .full-height {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
  }
