<ng-container *ngIf="value !== undefined; else loader">
    <p-selectButton [options]="options" [(ngModel)]="value" (onChange)="onSelectButtonChange($event)"></p-selectButton>
</ng-container>
<ng-template #loader>
    <p-skeleton styleClass="h-3rem"></p-skeleton>
</ng-template>
