<ng-container *ngIf="userData | async as user; else loader">
    <span class="text-900 font-medium text-3xl"><ng-content></ng-content></span>
</ng-container>
<ng-template #loader>
    <p-skeleton height="2rem"></p-skeleton>
</ng-template>
