body, .full-height {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.gradient-box {
    background-color: var(--surface-ground); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, var(--surface-ground), var(--surface-200));
}

.p-float-label > input:not(:placeholder-shown) + label, .p-float-label > textarea:not(:placeholder-shown) + label {
    top: -0.5rem !important;
    background-color: var(--surface-ground);
    padding: 2px 4px;
    margin-left: -4px;
    margin-top: 0;
    font-size: 12px;
}
