<div class="min-h-screen flex relative lg:static surface-ground">
    <layout-basic-menu></layout-basic-menu>
    <div class="min-h-screen flex flex-column relative flex-auto">
        <layout-basic-navbar></layout-basic-navbar>
        <div class="flex flex-column flex-auto m-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
