<ng-container *ngIf="userData | async as user; else loader">
    <img class="avatar" [ngStyle]="getImageStyles()" [src]="apiUrl + user.avatar" [alt]="user.username" />
</ng-container>
<ng-template #loader>
    <p-skeleton shape="circle" styleClass="mx-auto" [size]="size ? size + 'px' : ''"></p-skeleton>
</ng-template>
