<div class="grid">
    <div class="col-12 md:col-6">
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    </div>
    <div class="col-12 md:col-6">
        <p-fileUpload
            mode="basic"
            [chooseIcon]="chooseIcon"
            name="file"
            url="/v1/upload"
            accept="image/*,text/plain"
            [auto]="true"
            [chooseLabel]="label"
            (onProgress)="onProgress($event)"
            (onUpload)="onUpload($event)"
            (onError)="onError($event)"
        ></p-fileUpload>
    </div>
</div>
<br />

<div class="mt-1 align-content-center rounded-md border-2 border-dashed px-3 py-2">
    <div class="text-sm text-secondary align-items-center justify-content-center">
        <label for="file-upload" class="relative cursor-pointer rounded-md font-medium text-primary">
            <span>Upload a file</span>
            <input id="file-upload" name="file-upload" type="file" class="sr-only" />
        </label>
        <p class="pl-1">or drag and drop</p>
    </div>
</div>
